{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <!-- OpenGraph -->
  <meta property="og:title" content="Situational Awareness and Decision Making">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://shuji-bonji.github.io/Situational-Awareness-and-Decision-Making/assets/images/logo.png">
  <meta property="og:url" content="{{ page.canonical_url }}">
  <meta property="og:description" content="状況認識と意思決定について学び、応用を展開するサイトです。">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Situational Awareness and Decision Making">
  <meta name="twitter:description" content="状況認識と意思決定について学び、応用を展開するサイトです。">
  <meta name="twitter:image" content="https://shuji-bonji.github.io/Situational-Awareness-and-Decision-Making/assets/images/logo.png">
{% endblock %}